/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Buttons
	#Browser Fix
	#Misc


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing :border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}



	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration:none;}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }

	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

img {
    display: inline-block;
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}

*::-moz-selection {
    background: #111111;
    color: #ffffff;
}

a:focus {
outline: 0;
}

iframe{width:100%;frameborder:0;}

#map img { max-width: none; }

/* #Basic Styles
================================================== */
	body {
		background: #ffffff;
		font: 14px/21px 'open_sans', Arial, sans-serif;
		color: #9d9d9d;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;

 }



/* #Typography and #Common style
================================================== */
	h1, h2, h3, h4, h5, h6 {color: #343434;font-weight: normal;text-transform:uppercase;}





	h2{font-size:18px;}
	h3{font-size:16px;margin-bottom:10px;}

	p{line-height:24px;}
	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }


	.bigTitle{
		position:relative;
	}

	.bigTitle img {
	    background:#ffffff;
	    left: 48.53%;
	    padding: 3px 7px;
	    position: absolute;
	    top: 37px;
	    width: 3%;
	    display: none;
	}

	.tgreyHolder .bigTitle img {
	    background:#f4f4f4;
	}

	.bigTitle h1{
		font-size:18px;
		margin-bottom:60px;
		display:inline-block;
		padding:10px 20px;
		position:relative;
	}

	.bigTitle h1:after {
	    background:#343434;
	    content: "";
	    height: 2px;
	    left: 50%;
	    position: absolute;
	    top: 45px;
	    width: 70px;
	    margin-left: -35px;
	}

	.smallIntro p{
		color:#ffffff;
		font-size:20px;
		display:inline-block;

	}




	.singleTeaser{
		background:#8a4f3d;
		position:relative;
		overflow: hidden;
	}

	.imgTS{
	    background-position: 50% 35%;
	    background-size: cover;
	    display: block;
	    height: 100%;
	    overflow: hidden;
	    position: absolute;
	    right: 0;
	    width: 53%;
		top:0;
	}

	.stInner{
		color:#ffffff;
	}

	.word p{
		font-size:18px;

	}

	.word p span.first{
	  	font-size: 25px;
	    left: -4px;
	    position: relative;
	    top: -10px;
	}


	.word h3 span{
		font-size:13px;

	}

	.word p span.last{
	  	font-size: 25px;
		display:inline-block;
	    right: -10px;
	    position: relative;
	    top: 12px;
		transform: rotate(180deg);
		-moz-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
	}

	 a.btnLaunch{

	    border: 3px solid #ffffff;
	    color: #ffffff;
	    display: inline-block;
	    font-size: 15px;
		margin-left:100px;
		padding: 6px 16px;
	}



	a.btnLaunch:hover{
		color:#343434;
		background:#ffffff;
	}



	.logo h1, .caption h1, .ctl a, .introTitle h1, a.latestBtn, .planName h1 , .planBtn .btn, .projTitle h1, .cltInner h1
	 , .cltInner a, .blContinue, .viewAll a, .postTitleL h1, .postTitle h1 a, .tagsSingle h4 , .comments h2, .respond h2, .widget h2,
	.comments .reply-btn a , .contactForm #submit, .replyForm #submit, .replyFormLarge #submit, .buyLink a, .contactInner h1, .more a, .widgetFooter h3
	, .subscribeForm  .submitSubcribe, .stTitle h1 , a.btnLaunch, .bigTitle h1{
		font-family: 'RobotoBoldCondensed' , Arial, sans-serif;
	}

	.logo h1 span, .caption p, .latestDesc h3, .prc h3, .fact h1 span, .itemDesc h3, .widgetInfo, .aboutIntro p + p, .teaserMsg h1
	, .mainNav li a {
		font-family: 'open_sanssemibold', Arial, sans-serif;
	}

	 .ftDet h3 , .teamDesc h3, .teamDescL h3, .ceoWord h3, .serviceDet h3, .testiSlider li .testiProfile ,
	.planBody li span, .author a, .fbInner p .brand, .stp h3, .teamDescAlt h3, .expDet h3, .smallIntro p span, .skillbarTitle, .feedInner h3 {
		font-family: 'open_sansbold', Arial, sans-serif;
	}


	.innerIntro h1 span, .innerIntro p, .latestDesc span, .teamSingle h3 span, .teamLead h3 span , .ceoWord p, .ceoWord h3 span,
	.testiSlider li .testiProfile span , .fact span, .planPrice h1 span.mn, ul#category li a, .projTitle p, .postMeta span, .postMeta span a
	, .postSingle blockquote, .itemDesc span, .postTitleL p, .tweets .tweet_list, .teamSingleAlt h3 span
	, .stTitle p, .word h3 span, .word p, .percentage span {
		font-family: 'open_sanslight_italic', Arial, sans-serif;

	}


	.innerIntro p .brand, .teaserMsg h1 span{
		font-family: 'open_sanssemibold_italic', Arial, sans-serif;

	}

	.planPrice h1 {
		font-family: 'open_sansextrabold', Arial, sans-serif;
	}

	.pagination ul li, .tagsListSingle li a, .searchForm input[type="text"], .catList li a, .catArchives li a, .meta li a, .tagsList li a
	, .pstlDet .postTitle h1, .pstlDet .postTitle h1 a, .smallIntro p {
		font-family: 'open_sanslight', Arial, sans-serif;
	}


	.teamSingle h3 span, .teamLead h3 span, .testiSlider li .testiProfile span, ul#category li a, .itemDesc span
	, .postMeta, .blContinue, .postSingle, .sidebar, .buyLink a, .mainNav li a , .ctl a, a.latestBtn, .caption p, .ftDet h3
	, .latestDesc span, .prc h3, .serviceDet h3, .ceoWord p, .ceoWord h3 span, .exp .expDet h3, .fact span, .feedInner h3
	, .teaserMsg h1, .projTitle p, a.btnLaunch, .stp h3, .postTitleL p, .stTitle p, .mainNavSingle li a {
			-webkit-text-stroke: 0.30px;
	}






/* #Links
================================================== */

	a,.errorForm, .contactForm #submit,.tactive span, .pagination ul li span, .replyForm #submit, .shortFolio span, .shortContact span, .latest img, .item img, .prj img , .subscribeForm .submitSubcribe, .replyFormLarge #submit {

		transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		-webkit-transition:all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;

	}








/* #Buttons
================================================== */

	.btn{
		padding:8px 18px;
	}



/* #Browser Fix
================================================== */



		.searchForm input[type="text"],.pagination ul li , .contactForm input[type="text"], .contactForm textarea,
		.replyForm input[type="text"], .replyForm textarea, .comments .img,  .prSingle, .fct, .service, .plan, .post .postDetails , .projSocials li a, .projNav li a,

	   .featuresInner, .ftIco span.ico, .ft, .features, .introTitle img, .introTitle, .bigTitle, .bigTitle img, .expertsiseContent, .exp, .planName img, .planPrice img, .teamSingleAlt, .teamContentAlt, .aboutContent, .aboutIntro, .skills, .mainHeader, .showHideBtn, .headerSocials, .logo
	   ,.subscribeForm .submitSubcribe, .subscribeForm input[type="text"], .teamSingleAlt .tImg img, .teamSingleAlt .tImg
	   ,.inputColumns .column1, .inputColumns .column2, .inputColumns .column3, .contactForm input[type="text"], .contactForm textarea, .replyForm input[type="text"], .replyForm textarea, .replyFormLarge input[type="text"], .replyFormLarge textarea, .process, .facts{
		    box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
		}






/* #Misc
================================================== */
	.ofsBottom{padding-bottom:80px;}
	.tCenter {text-align: center;}
	.tLeft {text-align: left;}
	.ofsTop{padding-top:80px;}
	.ofsInTop{padding-top:60px;}
	.ofsInBottom{padding-bottom:60px;}
	.ofsTMedium{padding-top:40px;}
	.ofsBMedium{padding-bottom:40px;}
	.ofsTSmall{padding-top:20px;}
	.ofsBSmall{padding-bottom:20px;}
	.margTop{margin-top:60px;}
	.margMTop{margin-top:70px;}
	.margLTop{margin-top:80px;}
	.margBottom{margin-bottom:60px;}
	.margMBottom{margin-bottom:70px;}
	.margLBottom{margin-bottom:80px;}
	.margHBottom{margin-bottom:100px;}
	.margHTop{margin-top:100px;}
	.singleOffset{margin-top:150px;}
	.blogSingle.singleOffset {margin-top: 64px;}
	.bgGrey{background:#f3f3f3;}
	.bgGreyDark{background:#343434;}
	.secTitle.pricingTitle h1{color:#f4f4f4;}
	.noGap{margin:0 !important;width: 200px !important;}
